.build-version.json
.version.json

/node_modules
/.env.local
/.env
/.umirc.local.ts
/config/config.local.ts
/private-apps
.umi
.umi-production
.umi-test
/dist
.idea
.vscode
/.mfsu
.swc
yarn.lock
pnpm-lock.yaml
src/.DS_Store
.DS_Store
**/.DS_Store
.DS_Store
*.zip
*.rar

/*.log


/build-env.json
# Sentry Config File
.env.sentry-build-plugin

.webpack-cache
.eslintcache